@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: black;
    color: white;
    font-family: "Montserrat", sans-serif;
    font-weight: 300;
}

.wrapper {
    width: 1280px;
    margin: 40px auto;
}

header {
    position: relative;
}

header .logo {
    font-weight: 600;
    font-size: 20px;
}

header ul.nav li {
    display: inline;
    margin-left: 25px;
    cursor: pointer;
    transition: opacity 500ms ease;
}

header ul.nav li:hover {
    opacity: 0.5;
}

header ul.nav {
    float: right;
    list-style: none;
}

header .shop-card-button {
    float: right;
    cursor: pointer;
    transition: color, transform 500ms ease;
    font-size: 20px;
}

header .shop-card-button:hover,
header .shop-card-button.active {
    color: rgb(112, 57, 57);
    transform: scale(1.2);
}

header .shop-card {
    position: absolute;
    top: 30px;
    right: 0;
    width: 450px;
    background: rgb(49, 48, 48);
    z-index: 1000;
    padding: 10px;
    padding-bottom: 0;
}

header .shop-card .item {
    width: 100%;
    float: left;
    margin-bottom: 20px;
}

header .shop-card .item img {
    width: 70px;
    float: left;
    margin-right: 20px;
}

header .shop-card .item h2{
    font-size: 20px;
    margin-bottom: 10px;
}

header .shop-card .item b {
    color: rgb(65, 131, 93);
    font-weight: 600;
}

header .shop-card p {
    margin-bottom: 10px;
    font-weight: 600;
}

header .shop-card .item .delete-icon {
    color: rgb(167, 35, 35);
    float: right;
    position: relative;
    top: -25px;
    cursor: pointer;
    font-size: 28px;
    transition: color, transform 500ms ease;
}

header .shop-card .item .delete-icon:hover {
    color: rgb(199, 22, 22);
    transform: scale(1.2);
}

header .shop-card .summa {
    float: left;
    width: 100%;
    font-weight: 600;
    font-size: 20px;
    margin-bottom: 10px;
}

header .presintation {
    margin: 20px 0;
    background: url(./img/bg.jpg) no-repeat;
    width: 100%;
    height: 550px;
    background-size: cover;
    position: relative;
}

header .presintation::after {
    content: "Designer merch";
    position: absolute;
    top: 100px;
    left: 50px;
    width: 300px;
    font-size: 40px;
    font-weight: 600;
}

header .presintation::before {
    content: "Street clothes";
    position: absolute;
    top: 200px;
    left: 50px;
    width: 300px;
    font-size: 15px;
    font-weight: 300;
}

.categories div {
    display: inline-block;
    background: rgb(49, 48, 48);
    border-radius: 50px;
    padding: 10px 20px;
    margin-bottom: 25px;
    margin-right: 15px;
    cursor: pointer;
    border: 1px solid transparent;
    transition: all 500ms ease;
}

.categories div:hover {
    border-color: white;
    transform: scale(1.05);
}

.full-item {
    position: fixed;
    top: 0; left: 0; right: 0; bottom: 0;
    background: rgba(0, 0, 0, 0.877);
    z-index: 9999;
    overflow: auto;
}

.full-item > div {
    width: 600px;
    position: relative;
    margin: 10% auto;
    padding: 40px 30px;
    background: rgb(49, 48, 48);
}

main {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-between;
}

main .item {
    width: 30%;
    margin-bottom: 50px;
    background: rgb(49, 48, 48);
    border-radius: 10px 10px 0 0;
    overflow: hidden;
    position: relative;
    padding-bottom: 20px;
}

main .item img, .full-item img {
    width: 100%;
    border-radius: 10px 10px 0 0;
    transition: transform  500ms ease;
    cursor: pointer;
}

main .item img:hover, .full-item img:hover {
    transform: scale(1.05);
}

main h2, .full-item h2, main p, .full-item p, main b, .full-item b {
    margin: 10px 20px;
}

main b, .full-item b {
    color: rgb(65, 131, 93);
}

main .add-to-card,
.full-item .add-to-card {
    position: absolute;
    right: 20px;
    bottom: 20px;
    background: rgb(112, 57, 57);
    width: 35px;
    height: 35px;
    text-align: center;
    line-height: 35px;
    color: rgb(49, 48, 48);
    border-radius: 50%;
    cursor: pointer;
    font-size: 24px;
    font-weight: 600;
    transition: transform 500ms ease;
}

main .add-to-card:hover,
.full-item .add-to-card:hover {
    transform: scale(1.05) translateY(-5px);
}

footer {
    text-align: center;
    margin-top: 10px;
}